body {
    font-family: Arial, sans-serif;
    background-color: #fdf6f0;
    padding: 20px;
    text-align: center; 
}

.profile-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin-top:20px;
}

.profile-card {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    width: 250px;
    text-align: left; 
}

.profile-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.post-preview {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;          
    text-align: center;     
}

.post-preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}