{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>My Restaurant</title>
</head>
<body>
    <h1>
        Welcome to My Restaurant!
    </h1>
    <nav>
        <ul>
            <li>
                <a href="{% url 'main' %}", name="main">Home</a>
                <a href="{% url 'order' %}", name="order">Menu</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>