<!---Maarten Lopes, lopesmaa@bu.edu-->
<!---base page-->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=2">
    <title>Document</title>
</head>
<body>
    <nav>
    {% if user.is_authenticated %}
        <!-- Feed -->
        <a href="{% url 'show_feed' %}">Feed</a> |
        <!-- Search -->
        <a href="{% url 'search' %}">Search</a> |
        <!-- Profile -->
        <a href="{% url 'show_own_profile' %}">My Profile</a>
        <br>
        <br>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>