<!---Maarten Lopes, lopesmaa@bu.edu-->
<!---show all posts-->
{% extends 'mini_insta/base.html' %}
{% block content %}
    <h2> {{object.profile.display_name}} </h2>
    <p>{{ object.caption }}</p>
    <p>{{ object.timestamp }}</p>
    {% for photo in object.get_all_photos %}
        <img src="{{ photo.get_image_url }}" width="300">
    {% endfor %}
    <br>
    <br>
    <a href="{% url 'update_post' post.pk %}">Edit</a>
    <br>
    <br>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
    <br>
    <br>
    <a href="{% url 'show_profile' object.profile.pk %}">Back to profile</a>
{% endblock %}